<div>
    <div class="center">
        <h4>Login</h4>
        <form class="form">
            <div class="form-group">
                <input name="username" type="text" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
                <input name="password" type="password" placeholder="password" class="form-control">
            </div>
            <button mat-raised-button color="primary" role="submit">SignIn</button>
        </form>
    </div>
</div>