
.center{
    display: flex;
    flex-flow: column;
    align-items: center;
}

form{
    display: flex;
    flex-flow: column;
    padding: 8px;
    .form-group{
        margin-bottom:18px;
    
        .form-control{
            border: none;
            padding: 12px 18px;
            background: rgb(230, 230, 230);
            border-radius: 5px;
        }
    }
    
}