
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$digisign-primary: mat-palette($mat-indigo);
$digisign-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$digisign-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$digisign-theme: mat-light-theme($digisign-primary, $digisign-accent, $digisign-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($digisign-theme);

/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.center{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form{
    display: flex;
    flex-flow: column;
    padding: 8px;
    .form-group{
        margin-bottom:18px;
    
        .form-control{
            border: none;
            padding: 12px 18px;
            background: rgb(230, 230, 230);
            border-radius: 5px;
        }
    }
    
}