p {
    font-family: Lato;
  }
  
  agm-map {
    height: 67vh;
  }
.countries {
fill: #b0d0ab;
stroke: #6cb0e0;
stroke-width: 0.5px;
stroke-linecap: round;
stroke-linejoin: round;
}
.airports {
fill: #036;
stroke: #6cb0e0;
stroke-width: 0.5px;
stroke-linecap: round;
stroke-linejoin: round;
}